$dark-mode-background-color: black;
$dark-mode-text-color: white;
$font-size: 16px;

* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: "Microsoft YaHei";
  background-color: $dark-mode-background-color;
  color: $dark-mode-text-color;
  font-size: $font-size;
}

div {
  margin-top: 15px;
}

section {
  padding: 30px;
  margin: 30px 15%;
  border-style: dashed;
  border-width: 3px;
  border-radius: 5px;
}

textarea {
  margin: 0;
  padding: 5px;
  width: 100%;
  min-height: 100px;
  resize: vertical;
  border-radius: 5px;
  overflow: hidden;
  resize: none;
  font-size: $font-size;
  line-height: 2em;
  background-color: $dark-mode-background-color;
  color: $dark-mode-text-color;
}

#p-output {
  width: 100%;
  min-height: 100px;
  height: fit-content;
  margin: 0;
  padding: 5px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  font-size: $font-size;
  line-height: 2em;
}

button {
  min-width: max-content;
  min-height: max-content;
}

#copy-info {
  width: 100%;
  color: $dark-mode-text-color;
  opacity: 0;
}

@keyframes fade-in-out {
  100% {
    opacity: 0;
  }

  0%,
  50% {
    opacity: 1;
  }
}
